@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&display=swap');
body {
    background: linear-gradient(135deg, #a2d2ff, #ffc8dd, #cdb4db) !important;
    background-size: 200% 200%;
    min-width: 100vw;
    min-height: 100vh;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.navbar-brand{
    font-family: "Gabarito" !important;
}

.container-profil{
    min-height: 8rem !important;
    width: 100%  !important;
    background-color: rgba(162, 210, 255, 0.10);
}
/*.container-profil-detail{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.container-img-profil{
    width: 150px;
    height: 150px;
    margin-top: 5rem;
    margin-left: 10rem;
}
.container-profil-hero{
    margin-top: 10rem;

}